Nama : Rahman Ilyas Al Kahfi <br>
Grup : 21

Objective : 
Develop a machine learning model to predict tool wear failures in a milling machine based on sensor data. Early prediction of tool wear can significantly reduce production downtime and maintenance costs.

<h1>Random Forest Classifier<h1>

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import accuracy_score, classification_report

In [6]:
df = pd.read_csv("ai4i2020.csv")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Machine failure          10000 non-null  int64
 9   TWF                      10000 non-null  int64
 10  HDF                      10000 non-null  int64
 11  PWF                      10000 non-null  int64
 12  OSF                      10000 non-null  int64
 13  RNF                      10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

In [9]:
target_columns = df.columns[8:]
df[target_columns].apply(lambda x: print(x.value_counts()))

Machine failure
0    9661
1     339
Name: count, dtype: int64
TWF
0    9954
1      46
Name: count, dtype: int64
HDF
0    9885
1     115
Name: count, dtype: int64
PWF
0    9905
1      95
Name: count, dtype: int64
OSF
0    9902
1      98
Name: count, dtype: int64
RNF
0    9981
1      19
Name: count, dtype: int64

Machine failure    None
TWF                None
HDF                None
PWF                None
OSF                None
RNF                None
dtype: object

In [31]:
df['Type'].value_counts()

Type
1    6000
2    2997
0    1003
Name: count, dtype: int64

In [10]:
encoder = LabelEncoder()
df['Type'] = encoder.fit_transform(df[['Type']])
print(df['Type'].value_counts())

Type
1    6000
2    2997
0    1003
Name: count, dtype: int64

c:\Users\Ilyas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,1,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,1,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,1,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [12]:
features = ['Type', 'Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 
            'Torque [Nm]', 'Tool wear [min]']
target = ['Machine failure', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF']

x = df[features]
y = df[target]

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
shapes = {
    'x_train': x_train.shape,
    'x_test': x_test.shape,
    'y_train': y_train.shape,
    'y_test': y_test.shape
}

for name, shape in shapes.items():
    print(f"{name} shape: {shape}")

x_train shape: (7000, 6)
x_test shape: (3000, 6)
y_train shape: (7000, 6)
y_test shape: (3000, 6)

In [14]:
model = RandomForestClassifier(random_state=42)
multi_target = MultiOutputClassifier(model, n_jobs=-1)

multi_target.fit(x_train, y_train)

y_pred = multi_target.predict(x_test)

print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.981

In [15]:
report = classification_report(y_test, y_pred, target_names=target, output_dict=True)
df_report = pd.DataFrame(report).transpose()
print(df_report)

                 precision    recall  f1-score  support
Machine failure   0.898551  0.666667  0.765432     93.0
TWF               0.000000  0.000000  0.000000     14.0
HDF               1.000000  0.800000  0.888889     25.0
PWF               0.954545  0.677419  0.792453     31.0
OSF               0.941176  0.571429  0.711111     28.0
RNF               0.000000  0.000000  0.000000      7.0
micro avg         0.929688  0.601010  0.730061    198.0
macro avg         0.632379  0.452586  0.526314    198.0
weighted avg      0.830854  0.601010  0.696387    198.0
samples avg       0.020667  0.018944  0.019556    198.0

c:\Users\Ilyas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Ilyas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Ilyas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Ilyas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in samples with no true nor predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

<h1>Test Prediction with New Data <h1>

In [16]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,2,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,1,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,1,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,1,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [36]:
new_data = np.array([[1, 299, 310, 2870, 5, 150]])
predic = multi_target.predict(new_data)
print(predic)

[[1 0 0 1 0 0]]

In [37]:

df_target = pd.DataFrame(predic, columns=target)
df_features = pd.DataFrame(new_data, columns=features)
df_final = pd.concat([df_features, df_target], axis=1)

print(df_final.to_string(index=False))

 Type  Air temperature [K]  Process temperature [K]  Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Machine failure  TWF  HDF  PWF  OSF  RNF
    1                  299                      310                    2870            5              150                1    0    0    1    0    0